{
    "parser": "babel-eslint",
    "env": {
      "browser": true,
      "es6": true,
      "jest": true
    },
    "extends": "airbnb",
    "parserOptions": {
      "ecmaFeatures": {
        "experimentalObjectRestSpread": true,
        "jsx": true
      },
      "sourceType": "module"
    },
    "plugins": [ "react", "jsx-a11y"],
    "rules": {
      "indent": ["error", 2, {"SwitchCase": 1}],
      "linebreak-style": ["error","unix"],
      "quotes": ["error","single"],
      "jsx-quotes": ["error","prefer-single"],
      "semi": ["error","never"],
      "no-console": ["warn"],
      "comma-dangle": ["error","always-multiline"],
      "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }],
      "react/jsx-one-expression-per-line": ["off", "single-child"]
    }
}